<!-- {{}} is a moustache syntax, used for string interpolation -->
<h1>{{ title }}</h1>
<!-- textContent is a DOM property -->
<!-- A DOM property is only accessible in the browser -->
<h1 [textContent]="title"></h1>
<!-- You can use square brackets to bind a property to a value -->
<h3>{{ description }}</h3>
<!-- Examples of directive are *ngIf, *ngFor, *ngSwitch -->
<p *ngIf="isDirect">Show text for true value: {{ isDirect }}</p>
<ul>
  <li *ngFor="let product of products; let i = index">
    {{ i + 1 }}. {{ product }}
  </li>
</ul>
<!-- property binding  -->
<img [src]="angularLogo" [alt]="title" />
<!-- attribute binding -->
<table>
  <tr>
    <td [attr.colspan]="colSpan">colSpan value: {{ colSpan }}</td>
  </tr>
</table>
<router-outlet />
